<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd       
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">


	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/lotosdata" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- 11/08/2018 -->
        <property name="initialSize" value="10" />
        <property name="maxActive" value="150" /> 
        <property name="maxWait" value="20000" />
        <property name="maxIdle" value="1" />
              		
		<!-- 14.01.2018 - fixing bug - HTTP Status 500 - Request processing failed; -->
		<property name="validationQuery" value="SELECT 1"/>
        <property name="testOnBorrow" value="true"/>
		<!-- 23:44 -->
		
	</bean>

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="lotos" /> 
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
				<property name="database" value="MYSQL" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
			</bean>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	 <context:component-scan base-package="a1s.learn" />

	 <bean id="companyDao" class="lotos.dao.CompanyDAO" />
	 <bean id="dealDao" class="lotos.dao.DealDAO" />
	 <bean id="propositionDao" class="lotos.dao.PropositionDAO" />
	 <bean id="recomendationDao" class="lotos.dao.RecomendationDAO" />
	 <bean id="requestDao" class="lotos.dao.RequestDAO" />
	 <bean id="tenderDao" class="lotos.dao.TenderDAO" />
	 
	 <bean id="companyService" class="lotos.service.CompanyService" />
	 <bean id="dealService" class="lotos.service.DealService" />
	 <bean id="propositionService" class="lotos.service.PropositionService" />
	 <bean id="recomendationService" class="lotos.service.RecomendationService" />
	 <bean id="requestService" class="lotos.service.RequestService" />
	 <bean id="tenderService" class="lotos.service.TenderService" />
	
	
</beans>