<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
 
  <!-- Classpath scanning of @Component, @Service, etc annotated class -->
  <context:component-scan base-package="sender.dao" /> 
  
   
  <!-- MySQL Datasource with Commons DBCP connection pooling -->
  <bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource"
   destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/factory_test"/>
    <property name="username" value="root"/>
    <property name="password" value="root"/>
  </bean>
   
  <!-- EntityManagerFactory -->
  <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory">
    <property name="persistenceUnitName" value="persistenceUnit"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
   
  <!-- Transaction Manager -->
  <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="txManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>  
  </bean>
  
  <bean id="emailDAO" class="sender.dao.EmailDAO" />
   
  <!-- Enable @Transactional annotation -->
 <tx:annotation-driven proxy-target-class="true"
        transaction-manager="txManager" />
 
</beans>